<h1>Sitemap</h1>
<br />
<br />
<%= returning '' do |output|
      xml = Builder::XmlMarkup.new(:target => output, :indent => 2) 
      puts "FFFFFFFFFFFFFFF #{@taxons.inspect}"
      @taxons.each {|r| sub_html(xml, r) }
    end
%>
